<h1>To Dos</h1>

<% @tasks.each do |p| %>
<%= p.title %> 
<%= p.Description %> 
<%= p.priority %> 
<%= link_to 'edit', url_for(:tasks, :edit, :id => p.id) %>
<%= button_to 'delete', url(:tasks, :index, :id => p.id), :method => 'DELETE' %>
<% end %>