<h3>Create new task</h3>

<% form_tag url_for(:tasks, :index) do %>
<%= label_tag :title %>
<%= text_field_tag :title %>
<%= label_tag :Description %>
<%= text_field_tag :Description %>
<%= label_tag :priority %>
<%= text_field_tag :priority %>
<%= submit_tag %>
<% end %>

<%= link_to 'All Tasks', url_for(:tasks, :index) %>